body{
    background-color: brown;
    font-size: 10px;
    font-weight: 200;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}
p{
    stroke: url(10px);
    font-style: italic;
    font-weight: bolder;
}